<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/styles/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Elms+Sans:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">
    <link rel="icon" href="/public/images/logo.ico" type="image/x-icon">
    <title>SICEU</title>
</head>

<body>
    <img id="fondo" src="https://tse2.mm.bing.net/th/id/OIP.vs-JLe65Q1a7Yxz69q13XgHaFj?pid=ImgDet&w=474&h=355&rs=1&o=7&rm=3">
    <img id="logo" src="/public/images/logo.png" alt="Logo UNEFA">
    <form action="" method="post">
        <div id="usuario">
            <label for="usuario">Usuario</label>
            <input id="usuario" name="usuario" type="text" placeholder="Usuario" autocomplete="username" required>
        </div>
        <div id="contraseña">
            <label>Contraseña</label>
            <input type="password" placeholder="Contraseña" required>
        </div>
        <button id="submit" type="submit">Ingresar</button>
        <div class="recordar">
            <a href="">¿Has olvidado su contraseña?</a>
        </div>
        <div class="registrarse">
            o <a href="#"> primera vez?</a>
        </div>
    </form>
</body>

</html>