body {
    user-select: none;
    padding: 0;
    margin: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#container {
    overflow: hidden;
    background-color: #222;
    border-radius: 1em;
    color: #d8d6d6;
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 500px;
}

#interface {
    display: flex;
    padding: 1em;
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 150px;
}

#interface div {
    padding: .3em;
    width: 100%;
    height: 100%;
    border-radius: 1em;
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: #000;
}

#interface #operation {
    white-space: nowrap;
    display: flex;
    align-items: center;
    overflow-x: auto;
    flex: 1;
    font-family: sans-serif;
}

#regresar {
    position: absolute;
    background: #5a5a5a;
    color: white;
    border: none;
    border-radius: .2em;
    top: 1em;
    right: 1em;
}
#buttons {
    flex: auto;
    padding-bottom: .5em;
    display: flex;
    justify-content: center;

}

#buttons .button {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 60px;
    color: white;
    border: none;
    border-radius: .2em;
    background: #5a5a5a;

    cursor: pointer;
    width: 28%;
    margin: 1%;
}
#buttons .button:hover {
    background: #6a6a6a;
    transition: background .1s;
}
#buttons .row {
    display: flex;
    justify-content: center;
    gap: 18px;
    margin-bottom: .1px;
}
#igual {
    background-color: rgb(150, 97, 0) !important;
}
#igual:hover {
    background-color: rgb(165, 107, 0) !important;
}
#eliminar {
    background-color: rgb(146, 0, 0) !important;
}
#eliminar:hover {
    background-color: rgb(161, 0, 0) !important;
}
#screen {
    padding: .3em;
    flex: 2;
}

#operations {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    gap: .3em;
    width: 100px;
    height: 100%;
}

.botones {
    display: flex;
    font-size: 25px;
    color: white;
    border: none;
    background: #5a5a5a;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 70px;
    height: 50px;
    flex: 1;
    border-radius: .5em;
    cursor: pointer;
}
.botones:hover {
    background: #6a6a6a;
    transition: background .1s;
}